<html>
<head>
  <title>Navigable</title>
  <style>
    @font-face {
      font-family: "Font";
      font-style: normal;
      font-weight: 400;
      src: url("data:application/x-font-woff;charset=utf-8;base64,<%= font %>");
    }

    body {
      background-color: #211200;
      color: #2E1900;
      font-family: "Font", Georgia, "Times New Roman", Times, serif;
      font-size: 12px;
      margin: 20px;
    }

    .parchment {
      background-repeat: no-repeat;
      background-image: url("data:image/png;base64,<%= image %>");
      height: 750px;
      margin: 0 auto;
      position: relative;
      width: 960px;
    }

    .note {
      opacity: 80%;
      position: relative;
      text-align: center;
      top: 650px;
    }
  </style>
</head>
<body>
  <div class="parchment">
    <p class="note">Navigable: <%= Navigable::VERSION %> &nbsp; Ruby: <%= RUBY_VERSION %></p>
  </div>
</body>
</html>
